.newboard-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(116, 112, 112, 0.397);
    
}

.newboard {
    height: 36%;
    width: 30%;
    background-color: var(--bg-primary);
    padding: 20px;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
   
    
}

.newboard p {
    color: var(--text-muted);
}

.newboard-title {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.newboard-input {
    height: 27%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.newboard-input label {
    color: var(--text-muted);
}

.newboard-buttons {
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.newboard-buttons button {
    height: 90%;
    width: 40%;
    border: none;
    display: flex;
    justify-content: center;
    appearance: none;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}

.newboard-buttons .newboard-cancel {
    color: var(--text-muted);
    background-color: var(--bg-primary);

}

.newboard-buttons .newboard-create {
    color: white;
    background-color: var(--accent);
    border-radius: 15px;

}

