.sidebar {
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}

.sidebar-title {
    width: 100%;
    height: 10%;
    display: flex;
    
    align-items: center;
    color: var(--text-color);
}

.sidebar-options-wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar-options {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-account {
    height: 20%;
    width: 100%;
    border-top: 1px solid grey;
}

.sidebar-option-selected {
    background-color: var(--bg-primary);
    border-radius: 2px solid var(--border);
    border-radius: 13px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.23rem;
    cursor: pointer;
}

.sidebar-option {
    color: var(--text-muted);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.23rem;
    cursor: pointer;
}
